/* Style for flex container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: right;
  margin-bottom: 20px;
}

/* Style for buttons */
.container button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}
.table__body select option {
/* Add styles for the dropdown options here */
color: #041802; /* Text color */
background-color: #fff; /* Background color */
}

/* Style for selected dropdown option */
.table__body select option:selected {
/* Add styles for the selected option here */
background-color: #a30b0b; /* Example background color for selected option */
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.btn-update {
  background-color: #007bff;
  color: #fff;
}

.btn-update:hover {
  background-color: #007bff;
}

.btn-submit {
  background-color: #007bff;
  color: #fff;
  /* Style for in-cell button */
  display: inline-block;
  padding: 5px 10px;
}

.btn-submit:hover {
  background-color: #007bff;
}

/* Style for table cells */
.table__body td {
  padding: 10px;
  border: 1px solid #ddd;
}

/* Style for text boxes */
.table__body input[type="text"],
.table__body select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Style for remark cell to accommodate button */
.table__body td:nth-child(5) {
  position: relative;
}
/* Style the label */
label[for="table_nm"] {
display: inline-table;  /* Make the label element display on a new line */
margin-bottom: 5px;  /* Add some space below the label */
font-weight: bold;  /* Make the label text bold for emphasis */
}

/* Style the select element */
.custom-select {
width: 150px;  /* Set a width for the select box */
padding: 5px 10px;  /* Add some padding inside the select box */
border: 1px solid #ccc;  /* Add a border */
border-radius: 4px;  /* Add rounded corners */
font-size: 16px;  /* Set the font size */
}

/* Style the options inside the select box */
.custom-select option {
padding: 5px 10px;  /* Add padding to each option */
}